@page "/"

@inherits BlazorMinimalProjectTemplate.IndexBase

    <div style="font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif">

        @code
        {
            string title => "Client-side (Web Assembly) Blazor Minimal";
        }

        <h2>@title</h2>

        @inlineCsharp

        @code
        {
            string inlineCsharp
            {
                get
                {
                    return "This text is derived from inline C# code in a .razor file";
                }
            }
        }

        <p />
        @GetTextFromMethodInClass()

        <p />
        Now look in your browser dev-tools and see your DLLs downloaded to your browser!

        @*<p />
        <div style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
            <strong>SEPTEMBER 2019 NOTE</strong>
            <p />Blazor is no longer experimental - <a href="https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0/" target="_blank">read the announcement post</a>
            <p />
            <a href="https://blazor.net/docs/get-started.html" target="_blank">Get started</a>
        </div>*@

    </div>
