@page "/"
@inherits IndexBase


<div style="font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif">

    @functions {
    string hello
    {
        get
        {
            return "Hello Experimental Blazor World";
        }
    }
    }

    <h1>@hello @now</h1>

    @functions {
    string now
    {
        get
        {
            return $"at {DateTime.Now.ToLongDateString()} on {DateTime.Now.ToLongTimeString()}";
        }
    }
    }

    <p />
    <strong>@GetTextFromMethodInClass()</strong>

    <p />This is a very simple project template to demonstrate Blazor :- the ability to run C-sharp code in the browser without a plug-in, via Web Assembly which is currently supported by all the major browser vendors.

    <p />If you build & run using Visual Studio a browser will open that shows html content generated from C# within the browser.

    <p />Use this template to learn about Blazor, but for anything other than a basic app use <a href="https://marketplace.visualstudio.com/items?itemName=aspnet.blazor" target="_blank">ASP.NET Core Blazor Language Services</a>.

    <p />Aswell as being deployed on an ASP.NET Core hosted server Blazor apps can be deployed standalone as static websites. See the <a href="https://blazor.net/docs/host-and-deploy/index.html" target="_blank">Blazor website</a> for more info.

    <p /><a href="https://blazor.net/docs/get-started.html" target="_blank">Get started</a>

    <p />
    <div style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <strong>NOTE</strong>
        <p />Blazor is an unsupported experimental web framework that shouldn't be used for production workloads at this time (September 2018) 
        <p /><a href="https://blazor.net/index.html" target="_blank">More info</a>
    </div>

</div>
